html, body{
    height: 100vh;
    margin: 0;
}
body{
    display: flex;
    flex-direction: column;
}
.bar{
    display: flex;
    align-items: center;
    position: relative;
    background: rgba(128, 128, 128, 0.6);
    padding: 10px;
}
.about, .info{
    cursor: pointer;
    margin-right: 20px;
    margin-left: auto;
}
#info{
    padding-right: 10px;
}
.edit{
    cursor: pointer;
}
.title1{
    margin-left: 25px;
    font-family: "Oswald";
}
.title, #left, .ui-dialog-title{
    font-family: "Oswald";
}
#dialog p, .subtitle, .detailComment, .name,
.email, .phoneNumber{
    font-family: "Quattrocento"
}
.esri-view-user-storage{
    order: -1;
}
.projectTable{
    margin-right: 50px;
}
#formDiv{
    width: 100%;
}
#panel{
    position: relative;
    z-index: 1;
    order: -1;
    display: none;
}
#viewDiv{
    display: flex;
    flex: 2 1 auto;
    position: relative;
    z-index: 1;
}
#wrapper{
    display: flex;
    flex-flow: column;
    flex: 1 1 auto;
}
.display{
    display: none;
}
.ui-dialog{
    z-index: 1;
}
#info-div{
    width:350px;
    max-height: 100vh;
    color: #323232;
    background-color: #f5f5f5;
    padding: 6px 7px;
    font-size: 14px;
    background: #fff;
    overflow:auto;
    display: none;
    /*position: fixed;
    top: 15px;*/
}
#commentFilter{
    font-size: 12px;
    color: #9C9C9C;
    height: 32px;
    padding:0 6px;
    margin-bottom: 10px;
    width:100%;
    display: inline-block;
    cursor:pointer;
}
#projectCheck{
    display: inline-flex;
}
#projectCheck input, label{
    float: left;
}
.in{
    padding-top: 5px;
}
.show{
    padding-bottom: 3px;
}
.edit-button,
.edit-button:enabled{
  font-size: 14px;
  height: 32px;
  margin-top: 10px;
  width: 100%;
  background-color: transparent;
  border: 1px solid #0079c1;
  color: #0079c1;
  cursor:pointer;
}
.edit-button:hover,
.edit-button:focus{
  background-color: #0079c1;
  color: white;
}
.edit-button:disabled{
    border: 2px solid red;
    color: darkgray;
    background-color: lightgrey;
    cursor: not-allowed;
}
.panelBtn,
.panelBtn:enabled{
  font-size: 14px;
  height: 32px;
  margin-top: 10px;
  width: 75%;
  background-color: transparent;
  border: 1px solid #0079c1;
  color: #0079c1;
  cursor:pointer;
}
.panelBtn:hover,
.panelBtn:focus{
  background-color: #0079c1;
  color: white;
}
.panelBtn:disabled{
    border: 2px solid red;
    color: darkgray;
    background-color: lightgrey;
    cursor: not-allowed;
}
.panelHelpBtn,
.panelHelpBtn:enabled{
    font-size: 14px;
    height: 32px;
    width: 75%;
    margin-top: 10px;
    background-color: transparent;
    border: 1px solid #db7093;
    color: #db7093;
    cursor: pointer;
}
.panelHelpBtn:hover,
.panelHelpBtn:focus{
    background-color: #db7093;
    color: white;
}
.panelHelpBtn:disabled{
    border: 2px solid red;
    color: darkgray;
    background-color: lightgray;
    cursor: not-allowed;
}
#help{
    cursor: pointer;
}

/* override default styles */
.esri-feature-form {
    background: #fff;
}
.esri-feature-templates__section-header {
    display: none;
}
.esri-feature-templates__section {
    box-shadow: none;
}
.esri-feature-templates__scroller {
    max-height: 200px;
}