html, body, #viewDiv{
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}
#topbar {
    background: #fff;
    padding-bottom: 1.25%;
}
#urlContent{
    padding: 15px;
    background-color: white;
    width: 400px;
    display: none;
}
.action-button, .action-button2{
    font-size: 16px;
    background-color: transparent;
    border: 1px solid #d3d3d3;
    color: #6e6e6e;
    height: 32px;
    width: 32px;
    text-align: center;
    box-shadow: 0 0 1px rgba(0,0,0, 0.3);
}
.action-button:hover, .action-button:focus, .selection-button:hover, .selection-button:focus{
    background: #0079c1;
    color: #e4e4e4;
}
.selection-button{
    font-size: 15px;
    background-color: transparent;
    border: 0.5px solid #d3d3d3;
    color: #6e6e6e;
    height: 25px;
    width: 25px;
    text-align: center;
    box-shadow: 0 0 1px rgba(0,0,0, 0.3);
}
#helpInfo{
    padding: 15px;
    background-color: white;
    width: 300px;
    display: none;
}
#helpInfo h3{
    text-align: center;
    margin: 10px;
}
#drawPolys{
    color: #000000;
    position: absolute;
    height: 275px;
    z-index: 1;
    width: 325px;
    background-color: #fff;
    top: 70%;
    right: 0.5%;
    padding-left: 10px;
    padding-top: 10px;
    border: 1px solid #000000;
}
#drawPolys span{
    display: inline-block;
    text-align: center;
}
#homeTracts, #workTracts, #homeToWork{
    text-decoration-line: none;
}